<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./parts/head') %>
    <link rel="stylesheet" href="/stylesheets/perfil.css" />
    <title><%= perfil.nome %> - perfil</title>
  </head>
  <body>
    <% if(!usuario) { %>
      <%- include('./parts/header') %>
    <% } else { %>
      <%- include('./parts/header-logado') %>
    <% } %>
    <main>
      <form class="formPerfil" action="/perfil/editar?_method=PUT" method="POST" enctype="multipart/form-data">
        <div class="foto">
          <img class="fotoPerfil" src="/arquivos/<%= perfil.foto %>" alt="fotoperfil" />
        </div>
        <div class="infPessoais">
          <div class="areaInf">
            <label for="nome"><h4>Nome</h4></label>
            <input type="text" name="nome" value="<%= perfil.nome %>" readonly/>
          </div>
          <div class="areaInf">
            <label for="email"><h4>E-mail</h4></label>
            <input type="text" name="email" value="<%= perfil.email %>" readonly/>
          </div>
          <div class="areaInf">
            <label for="resumo"><h4>Resumo</h4></label>
            <textarea name="resumo" cols="30" rows="5" readonly><%= perfil.resumo %></textarea>
          </div>
          <div class="areaInf">
            <label for="repositorio"><h4>Github</h4></label>
            <input type="text" name="repositorio" value="<%= perfil.repositorio_link %>" readonly/>
          </div>
          <div class="areaInf2">
            <div class="areaInf">
              <label for="telefone"><h4>Telefone</h4></label>
              <input type="text" name="telefone" value="<%= perfil.telefone %>" readonly/>
            </div>
            <div class="areaInf">
              <label for="curriculo"><h4>Currículo</h4></label>
              <a class="btn btn-primary" href="/arquivos/<%= perfil.curriculo %>" id="curriculo" target="_blank">Download</a>
            </div>
          </div>
        </div>
        <div class="redessociais">
          <h4>Redes Sociais</h4>
          <br />
          <div class="gridRedes">
            <% perfil.redes_sociais.forEach(rede => { %>
            <div class="inputRedes">
              <label for="<%= rede.nome %>"><%= rede.nome %></label>
              <div>
                <input type="text" name="<%= rede.nome %>" value="<%= rede.Usuarios_redes.link %>" readonly/>
              </div>
            </div>
            <% }) %>
          </div>
        </div> 
        <div class="linguagens">
          <h4 class="titulolinguagem">Linguagens</h4>
          <div class="gridLinguagens">
            <% perfil.linguagens.forEach(linguagem => { %>
              <div class="itemLinguagem read">
                  <input type="text" name="linguagens" value="<%= linguagem.nome %>" readonly>
              </div>
            <% }) %>
          </div>
        </div>
        <div class="experienciaProfissional">
          <h4>Experiência profissional</h4>
          <% perfil.experiencia_pro.forEach(exp => { %>
          <div class="area areaExp">
              <div class="gridInputs">
                <div>
                  <label for="expEmpresa"><p>Empresa</p></label>
                  <input type="text" name="expEmpresa" value="<%= exp.empresa %>" readonly/>
                </div>
                <div>
                  <label for="expCargo"><p>Cargo</p></label>
                  <input type="text" name="expCargo" value="<%= exp.cargo %>" readonly/>
                </div>
                <div>
                  <label for="expFuncao"><p>Função</p></label>
                  <input type="text" name="expFuncao" value="<%= exp.funcao %>" readonly/>
                </div>
                <div>
                  <label for="expDescricao"><p>Descrição</p></label>
                  <input type="text" name="expDescricao" value="<%= exp.descricao %>" readonly/>
                </div>
                <div>
                  <label for="expInicio"><p>Início</p></label>
                  <input type="date" name="expInicio" value="<%= exp.inicio %>" readonly/>
                </div>
                <div>
                  <label for="expTermino"><p>Fim</p></label>
                  <input type="date" name="expTermino" value="<%= exp.termino %>" readonly/>
                </div>
              </div>
          </div>
          <% }) %>
        </div>
        <div class="formacao">
          <h4>Formação</h4>
          <% perfil.formacao.forEach(formacao => { %>
            <div class="area areaFormacao">
              <div class="gridInputs">
                <div>
                  <label for="formacaoCurso"><p>Curso</p></label>
                  <input type="text" name="formacaoCurso" value="<%= formacao.curso %>" readonly/>
                </div>
                <div>
                  <label for="formacaoInstituicao"><p>Instituição</p></label>
                  <input type="text" name="formacaoInstituicao" value="<%= formacao.instituicao %>" readonly/>
                </div>
                <div>
                  <label for="formacaoGrau"><p>Grau</p></label>
                  <input type="text" name="formacaoGrau" value="<%= formacao.grau %>" readonly/>
                </div>
                <div>
                  <label for="formacaoInicio"><p>Início</p></label>
                  <input type="date" name="formacaoInicio" value="<%= formacao.inicio %>" readonly/>
                </div>
                <div>
                  <label for="formacaoTermino"><p>Fim</p></label>
                  <input type="date" name="formacaoTermino" value="<%= formacao.termino %>" readonly/>
                </div>
              </div>
            </div>
          <% }) %>
        </div>
        <div class="competencias">
          <h4>Competências</h4>
          <% perfil.competencias.forEach(competencia => { %>
            <div class="area areaCompetencia">
              <div>
                <input type="text" name="competencias" value="<%= competencia.nome %>" readonly/>
              </div>
            </div>
          <% }) %>
        </div> 
      </form>
    </main>
    <!-- <script src="/js/paginaEditarNovo.js"></script> -->
    <%- include('./parts/footer') %>
  </body>
</html>
