<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./parts/head') %>
    <title>Portifolio</title>
  </head>
  <body>
    <% if( !usuario ) { %> 
    <%- include('./parts/header') %> 
    <% } else { %> 
    <%- include('./parts/header-logado') %> 
    <% } %>

    <h1>Portifolio de <%= perfil.nome %></h1>

    <% portifolio.forEach(servico => { %>

      <%= servico %>
      
    <% }) %>

    <a href="/perfil/<%= perfil.id %>">voltar para o perfil</a>
  </body>
</html>
