<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <%- include('./parts/head') %>
    <title>getdev - pesquisa</title>
    <link rel="stylesheet" href="/stylesheets/busca.css" />
  </head>
  <body>
    <% if(!usuario) { %> <%- include('./parts/header') %> <% } else { %> <%-
    include('./parts/header-logado') %> <% } %>
    <main>
      <% resultadoBusca.forEach(perfil => { %>
      <a href="/perfil/<%= perfil.id %>">
        <div class="containerpesquisa">
        <div class="foto">
          <img src="/foto_perfil/<%= perfil.foto %>" alt="foto" />
        </div>
        <div class="informacoes">
          <p class="titulo"><%= perfil.nome %></p>
          <p class="desc"><%= perfil.resumo %></p>
          <p class="titulo">Linguagens:</p>
          <% perfil.linguagens.forEach(linguagem => { %>
          <span class="linguagens"><%= linguagem.nome %></span>
          <% }) %>
          <p class="titulocp">Competências:</p>
          <ul class="listacompetencias">
            <% perfil.competencias.forEach(competencia => { %>
            <li><%= competencia.nome %></li>
            <% }) %>
          </ul>
        </div>
      </div>
      </a>
      <% }) %>
    </main>

    <%- include('./parts/footer.ejs') %>
  </body>
</html>
