<html>
  <%- include('../parts/head') %>

  <body>
    <%- include('../parts/header') %>

    <div class="container">
      <table class="grid">
        <thead>
          <tr class="titulos">
            <th>ID</th>
            <th>Nome</th>
            <th colspan="3">Ações</th>
          </tr>
        </thead>
        <tbody>
          <% linguagens.forEach(linguagem => { %>
          <tr class="conteudo">
            <td><%= linguagem.id %></td>
            <td><%= linguagem.nome %></td>
            <td>
              <a href="/admin/linguagens/ver/<%= linguagem.id %>/"
                ><button class="ver">Ver</button></a
              >
              <a href="/admin/linguagens/editar/<%= linguagem.id %>"
                ><button class="editar">Editar</button></a
              >
              <a href="/admin/linguagens/excluir/<%= linguagem.id %>"
                ><button class="excluir">Excluir</button></a
              >
            </td>
          </tr>
          <% }) %>
        </tbody>
      </table>
    </div>

    <%- include('../parts/footer') %> 
    <script src="/js/scriptAdminExcluir.js"></script>
  </body>
</html>