<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../parts/head') %>
    <link rel="stylesheet" href="/stylesheets/perfil.css" />
    <title><%= perfil.nome %> - perfil</title>
  </head>
  <body>
    <%- include('../parts/header-logado') %>
    <main>
      <form action="" method="PUT" enctype="multipart/form-data">
        <div>
          <h1>Perfil de <%= perfil.nome %></h1>
          <div>
            <img src="../foto_perfil/<%= perfil.foto %>" alt="Foto do perfil" />
            <br />
            <input type="file" name="foto" id="foto" />
          </div>

          <div>
            <label for="cidade">Cidade:</label>
            <br />
            <input
              type="text"
              name="cidade"
              id="cidade"
              value="<%= perfil.cidade %>"
            />
            <br>
            <label for="estado">Estado:</label>
            <br />
            <input
              type="text"
              name="estado"
              id="estado"
              value="<%= perfil.estado %>"
            />
          </div>

          <div>
            <b>Resumo:</b>
            <br />
            <textarea name="resumo" id="resumo" cols="100" rows="6"></textarea>
          </div>

          <div>
            <label for="curriculo">Upload do curriculo:</label>
            <br />
            <input type="file" name="curriculo" id="curriculo" />
          </div>

          <div>
            <b>Experiência profissional:</b>
            <% perfil.experiencia_pro.forEach((exp, index) => { %>
            <ul>
              <li><%= index+1 %></li>
              <li>funcao: <%= exp.funcao %></li>
              <li>cargo: <%= exp.cargo %></li>
              <li>descricao: <%= exp.descricao %></li>
              <li>início: <%= exp.inicio %></li>
              <li>término: <%= exp.termino %></li>
            </ul>
            <% }) %>
          </div>

          <div>
            <b>Formacao:</b>
            <% perfil.formacao.forEach((formacao, index) => { %>
            <ul>
              <li><%= index+1 %></li>
              <li>curso: <%= formacao.curso %></li>
              <li>grau: <%= formacao.grau %></li>
              <li>instituicao: <%= formacao.instituicao %></li>
              <li>início: <%= formacao.inicio %></li>
              <li>término: <%= formacao.termino %></li>
            </ul>
            <% }) %>
          </div>

          <div>
            <b>Linguagens que domina:</b>
            <ul>
              <% perfil.linguagens.forEach(linguagem => { %>
              <li><%= linguagem.nome %></li>
              <% }) %>
            </ul>
          </div>

          <div>
            <b>Competências:</b>
            <ul>
              <% perfil.competencias.forEach(competencia => { %>
              <li><%= competencia.nome %></li>
              <% }) %>
            </ul>
          </div>

          <div>
            <b>Repositório:</b>
            <div>
              <a href="<%= perfil.repositorio_link %>">
                <%= perfil.repositorio_link %>
              </a>
            </div>
          </div>

          <div>
            <b>Redes sociais:</b>
            <ul>
              <% perfil.redes_sociais.forEach(rede => { %>
              <li>
                <a href="#"><%= rede.nome %></a>
              </li>
              <% }) %>
            </ul>
          </div>

          <div>
            <a href="/perfil/<%= perfil.id %>/portifolio">
              <b>Ver portifolio</b></a
            >
          </div>
        </div>
      </form>
    </main>
    <%- include('../parts/footer') %>
  </body>
</html>
